* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #26942c;
    font-family: Arial, sans-serif;
    padding-bottom: 80px;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    font-weight: bold;

}
/* ESTILIZAÇÃO DA BARRA DE ROLAGEM */
/* Define a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Deixa a barra bem fina */
  }
  
  /* Estiliza o fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo */
  }
  
  /* Estiliza a alça de rolagem (scrollbar thumb) */
  ::-webkit-scrollbar-thumb {
    background: rgb(97, 231, 80); /* Cor verde */
    border-radius: 10px; /* Bordas arredondadas */
    height: 90%; /* Faz a alça ficar o mais longa possível */
  }
  
  /* Efeito ao passar o mouse sobre a alça */
  ::-webkit-scrollbar-thumb:hover {
    background: #006400; /* Verde mais escuro ao passar o mouse */
  }

@font-face {

    font-family: 'iconicFill';
    src: url('iconic_fill.woff') format(woff);
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue; /* COR DE FUNDO DO HEADER  ---> ALTERAR DEPOIS */
    padding: 10px;
    box-shadow: 0 4px 1px gray;
    margin: 3px;
}

header button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

header button:hover {
    background-color: #008000
}

.cifrao {
    width: 150px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para os efeitos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Efeito ao passar o mouse */
.cifrao:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
}

/* Efeito ao clicar */
.cifrao:active {
    transform: scale(0.95); /* Diminui o tamanho ao clicar */
    filter: brightness(0.9); /* Reduz o brilho ao clicar */
}

/*Botões do topo da página abaixo:  ---------------------------------------*/ 

.login-button {
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    margin-right: auto;
    background-image: linear-gradient(to bottom, #2ad130, #0b6e10);         /* NÂO APAGAR */
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para os efeitos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.conta-button {
    top: 20px;
    left: 20px;
    margin-right: auto;
    background-color: #4CAF50;
    background-image: linear-gradient(to bottom, #2ad130, #0b6e10);
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para os efeitos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
.aboutus-button {
    top: 30px;
    left: 30px;
    margin-right: auto;
    background-color: #4CAF50;
    background-image: linear-gradient(to bottom, #2ad130, #0b6e10);
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para os efeitos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
.contato-button {
    top: 40px;
    left: 40px;
    margin-right: auto;
    background-color: #4CAF50;
    background-image: linear-gradient(to bottom, #2ad130, #0b6e10);
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para os efeitos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

  /* SELECAO / CLIQUE nos botoes V */
.contato-button:hover {

    background-color: #30a513;
    background-image: linear-gradient(to bottom, #2ecf06, #045f08);
    border-color: #204569;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    inset: 0 1px 0 rgba(9, 255, 1, 0.938), 0 0 3px #37b34c;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
}

.contato-button:active {

    background-color: #09772a;
    background-image: none;
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    transform: scale(0.95); /* Diminui o tamanho ao clicar */
    filter: brightness(0.9); /* Reduz o brilho ao clicar */
}

.aboutus-button:hover {

    background-color: #30a513;
    background-image: linear-gradient(to bottom, #2ecf06, #045f08);
    border-color: #204569;
    box-shadow: 
        inset 0 1px 0 rgba(9, 255, 1, 0.938), 0 0 3px #37b34c;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
}

.aboutus-button:active {

    background-color: 09772a;
    background-image: none;
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);    
    transform: scale(0.95); /* Diminui o tamanho ao clicar */
    filter: brightness(0.9); /* Reduz o brilho ao clicar */
}

.conta-button:hover {

    background-color: #30a513;
    background-image: linear-gradient(to bottom, #2ecf06, #045f08);
    border-color: #204569;
    box-shadow: 
        inset 0 1px 0 rgba(9, 255, 1, 0.938), 0 0 3px #37b34c;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
}

.conta-button:active {

    background-color: #09772a;
    background-image: none;
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    transform: scale(0.95); /* Diminui o tamanho ao clicar */
    filter: brightness(0.9); /* Reduz o brilho ao clicar */
}

.login-button:hover {

    background-color: 09772a;
    background-image: linear-gradient(to bottom, #2ecf06, #045f08);
    border-color: #204569;                                              /* NÂO APAGAR */
    box-shadow: 
        inset 0 1px 0 rgba(9, 255, 1, 0.938), 0 0 3px #37b34c;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
}

.login-button:active {

    background-color: #09772a;
    background-image: none;                                                /* NÂO APAGAR */
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    transform: scale(0.95); /* Diminui o tamanho ao clicar */
    filter: brightness(0.9); /* Reduz o brilho ao clicar */
}

/* Botões do topo da página acima -----------------------------------------*/ 

h1 {
  font-size: 35px;
  color: White; /* Cor do texto */
  text-shadow: 2px 2px 3px 4px white; /* Sombra no texto */
  margin-top: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-bottom: 20px;
}

.tabelasso {
    text-align: center;
    border-collapse: collapse; /* Remove espaçamentos entre as bordas das células */
    background-color: none;
    border-radius: 16px;
    border-spacing: 10px; /* Ajuste o valor conforme necessário para aumentar o espaçamento */
    margin: 0 auto;
    padding: 18px;
    width: 80%;  /* 80% da largura da página */
    transition: transform 0.3s ease; /* Transição suave para o efeito de zoom */
  }

.textozin {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;
}

td img {
    max-width: 100%; /* A imagem ocupa até 100% da largura da célula */
    max-height: 200px; /* A altura máxima da imagem */
    border-radius: 12px; /* Bordas arredondadas nas imagens */
    box-shadow: 4px 4px 8px black; /* Sombreamento suave */
  }

.knowmore {
    background-image: linear-gradient(to bottom, #2ad130, #0b6e10);
    color: white;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    box-shadow: inset 3px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para os efeitos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.knowmore:hover {
    background-color: #30a513;
    background-image: linear-gradient(to bottom, #2ecf06, #045f08);
    border-color: #204569;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    inset: 0 1px 0 rgba(9, 255, 1, 0.938), 0 0 3px #37b34c;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
}

.knowmore:active {
    background-color: #09772a;
    background-image: none;
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    transform: scale(0.95); /* Diminui o tamanho ao clicar */
    filter: brightness(0.9); /* Reduz o brilho ao clicar */
}

.centro {

    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;

}

.slogan{
    font-size: 33px; 
    color: white; /* Cor clara para contraste */
    font-weight: bold;
    text-shadow: 1px 1px 2px #008000; /* Sombra */
    padding: 8px; /* Adiciona espaçamento interno */
    display: inline-block; /* Para permitir o preenchimento e centralização */
    text-decoration: none;
}

.slogan:hover{

    filter: brightness(1.5); /* Aumenta o brilho */
}

.tabelasso img:hover {
transform: scale(1.05); /* Aumenta a imagem em 5% ao passar o mouse */
}